---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout>
  <Header />
  <main id="main-content">
    <section>
      <div class="flex mt-10">
        <img
          class="mx-auto w-full"
          src="/assets/v-card.svg"
          alt="V-Card"
        />
      </div>
    </section>
  </main>
</Layout>
