---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
// import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
// import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
// import slugify from "@utils/slugify";
import { SOCIALS, SKILLS } from "@config";
import SkillTable from "@components/SkillTable.astro";
import SkillRow from "@components/SkillRow.astro";
import SkillTimeRange from "@components/SkillTimeRange.astro";

// const posts = await getCollection("blog");

// const sortedPosts = getSortedPosts(posts);
// const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Ivan Portugal</h1>
      <!-- <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a> -->

      <p>
        Just a story about the last 1.5 decades or so. Strictly tech.
      </p>
      <p>
        Is this a blog? No. A portfolio site? Not really. A way to connect? Sure!
      </p>
      <!-- <p>
        Read the blog posts or check
        <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="https://github.com/satnaing/astro-paper#readme"
        >
          README
        </LinkButton> for more info.
      </p> -->
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Pick one:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    <!-- Chart section -->
    <section id="charting">
      {SKILLS.map(({ time, skills }) => {
        <SkillTimeRange time={time} skills={skills} />
      })}
      <!-- <div class="flex flex-row gap-x-2">
        <div class="flex-1">
          <h2 class="text-center mb-2">Interests</h2>
          <Hr />
          <SkillTable caption="2008-2010">
            <SkillRow skill="Java" level="10" />
            <SkillRow skill="DevOps" level="10" />
            <SkillRow skill="C#" level="1" />
            <SkillRow skill="SQL" level="3" />
            <SkillRow skill="JavaScript" level="8" />
          </SkillTable>
        </div>
        <div class="flex-1">
          <h2 class="text-center mb-2">Expertise</h2>
          <Hr />
          <SkillTable caption="2008-2010">
            <SkillRow skill="Java" level="3" />
            <SkillRow skill="DevOps" level="7" />
            <SkillRow skill="C#" level="0" />
            <SkillRow skill="SQL" level="2" />
            <SkillRow skill="JavaScript" level="5" />
          </SkillTable>
        </div>
      </div> -->
    </section>

  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  #charting {
    @apply pt-12 pb-6;
  }

  #charting table tr td:last-child {
    @apply text-right;
  }

  #charting table tr td {
    @apply p-2;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  /* #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  } */
</style>
