---
const {caption} = Astro.props;
---

<table class="table-fixed w-full mt-4 border-collapse border text-left">
  <caption class="caption-top mb-2">
    {caption}
  </caption>
  <thead>
    <tr>
      <th class="subject"></th>
      <th class="value"></th>
    </tr>
  </thead>
  <slot />
</table>

<style is:global>
  ._10 {
    @apply text-green-700;
  }
  ._9 {
    @apply text-green-500;
  }
  ._8 {
    @apply text-green-300;
  }
  ._7 {
    @apply text-yellow-200;
  }
  ._6 {
    @apply text-yellow-500;
  }
  ._5 {
    @apply text-orange-400;
  }
  ._4 {
    @apply text-orange-600;
  }
  ._3 {
    @apply text-orange-800;
  }
  ._2 {
    @apply text-red-300;
  }
  ._1 {
    @apply text-red-500;
  }
  ._0 {
    @apply text-red-700;
  }
</style>